body {
  background-color: #292524;
  color: #fafaf9;
}

h1 {
  font-size: 40;
  text-transform: uppercase;
  text-align: center;
  font-family: "coiny", sans-serif;
  color: #f1f2f5;
}

p {
  font-size: 20px;
  line-height: 1.4;
  font-family: "sono" sans-serif;
}
.fact-form {
  background-color: #44403c;
}

.fact {
  font-size: 20px;
  line-height: 1.4;
  font-family: "sono", sans-serif;
  color: #fafaf9;
  background-color: #44403c;
}

.tag {
  text-transform: uppercase;
  font-size: 14;
  font-family: "coiny", sans-serif;
  color: #fafaf9;
  background-color: #44403c;
}

ul {
  list-style: none;
}

.class-form {
  background-color: #44403c;
}
