* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #292524;
  color: #fafaf9;
  font-family: "sono", sans-serif;
  padding: 38px 54px;
}

.header {
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
  gap: 16px;
}

h1 {
  font-size: 40;
  text-transform: uppercase;
  font-family: "coiny", sans-serif;
}

.main {
  display: grid;
  grid-template-columns: 250px 1fr;
  gap: 48px;
}

.container {
  max-width: 1000px;
  /*background-color: ;*/
  margin: 0 auto;
}

p {
  font-size: 20px;
  line-height: 1.4;
  font-family: "sono" sans-serif;
}

.fact-form {
  background-color: #44403c;
  margin-bottom: 40px;
  padding: 16px 40px;
}

.fact {
  font-size: 20px;
  line-height: 1.4;
  background-color: #44403c;
  margin-bottom: 16px;
  padding: 16px 24px;
}

.tag {
  text-transform: uppercase;
  font-size: 14;
  font-family: "coiny", sans-serif;
  padding-top: 3px;
  padding-left: 10px;
  padding-right: 10px;
}

ul {
  list-style: none;
}

.class-form {
  background-color: #44403c;
}
