* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #292524;
  color: #fafaf9;
  font-family: "sono", sans-serif;
  padding: 38px 54px;
}

.header {
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
  gap: 16px;
}

.logo img {
  width: 68px;
  height: 68px;
}

h1 {
  font-size: 40;
  text-transform: uppercase;
  font-family: "coiny", sans-serif;
}

.main {
  display: grid;
  grid-template-columns: 250px 1fr;
  gap: 48px;
}

.container {
  max-width: 1000px;
  /*background-color: ;*/
  margin: 0 auto;
}

p {
  font-size: 20px;
  line-height: 1.4;
  font-family: "sono", sans-serif;
}

.fact-form {
  background-color: #44403c;
  margin-bottom: 40px;
  padding: 16px 40px;
}

.category {
  margin-bottom: 16px;
}

.fact {
  font-size: 20px;
  line-height: 1.4;
  background-color: #44403c;
  margin-bottom: 16px;
  padding: 16px 24px;
}

.tag {
  text-transform: uppercase;
  font-size: 14px;
  font-family: "coiny", sans-serif;
  padding-top: 3px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 100px;
}

.vote-buttons {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 8px;
  flex-shrink: 0;
}

.vote-buttons button {
  background-color: #292524;
  border: none;
  color: #fafaf9;
  font-size: 18px;
  padding: 6px 12px;
  cursor: pointer;
  margin-left: 8px;
  font-family: inherit;
  border-radius: 90px;
  font-weight: bold;
  transition: 0.3s;
}

.vote-buttons button:hover {
  background-color: #3b82f6;
}

ul {
  list-style: none;
}

.source:link,
.source:visited {
  color: brown;
  text-decoration: none;
  margin-left: 12px;
  transition: 0.3s;
}

.source:hover,
.source:active {
  text-decoration: underline;
  color: rgb(77, 77, 220);
}

.class-form {
  background-color: #44403c;
}

.btn {
  border: none;
  font-family: "Coiny", sans-serif;
  line-height: 1;
  text-transform: uppercase;
  font-size: 17px;
  padding: 16px 0 13px;
  background-image: linear-gradient(135deg, #3b82f6, #ef4444, #16a34a, #eab308);
  color: inherit;
  border-radius: 5px 20px 5px;
  cursor: pointer;
  transition: 0.3s;
}

.btn-large {
  font-size: 25px;
  padding: 20px 32px 17px;
}

.btn-all-categories {
  margin-bottom: 16px;
  width: 100%;
}
.btn-category {
  width: 100%;
  background-image: none;
}
.btn:hover {
  transform: scale(110%) rotate(-2deg);
}
