h1 {
  font-size: 40;
  text-transform: uppercase;
  text-align: center;
  font-family: coiny, cursive;
}

p {
  font-size: 20px;
  line-height: 1.4;
  font-family: sans-serif;
}

span {
  text-transform: uppercase;
  font-size: 14;
  font-family: "coiny", sans-serif;
}

ul {
  list-style: none;
}
