* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #292524;
  color: #fafaf9;
  font-family: "sono", sans-serif;
  padding: 40px;
}

.header {
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

h1 {
  font-size: 40;
  text-transform: uppercase;
  font-family: "coiny", sans-serif;
}

p {
  font-size: 20px;
  line-height: 1.4;
  font-family: "sono" sans-serif;
}

.fact-form {
  background-color: #44403c;
  margin-bottom: 40px;
  padding: 16px 40px;
}

.fact {
  font-size: 20px;
  line-height: 1.4;
  background-color: #44403c;
  margin-bottom: 16px;
  padding: 16px 24px;
}

.tag {
  text-transform: uppercase;
  font-size: 14;
  font-family: "coiny", sans-serif;
  padding-top: 3px;
  padding-left: 10px;
  padding-right: 10px;
}

ul {
  list-style: none;
}

.class-form {
  background-color: #44403c;
}
